.main_navbar { height: 60px; display: flex; align-items: center; background-color: #ffffff; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);padding: 0 20px; margin: 20px 20px 0; border-radius: 16px;}

.nav_search { width: 400px;}
.nav_search input { width: 100%; border: none; outline: none; font: 400 16px/24px 'Inter', sans-serif;}

.nav_tools { display: flex; align-items: center; gap: 20px; margin-left: auto;}
.nav_tool { display: flex; justify-content: center; align-items: center; width: 35px; height: 35px; background-color: #e7e7ff; color: #696CFF; border-radius: 10px; cursor: pointer;}
.nav_tool:hover { color: #333333;}

.nav_user { display: flex; align-items: center; gap: 20px; padding-left: 30px; border-left: 1px solid #E4E7ED; margin-left: 30px;}
.user_name  { font: 400 16px/16px 'Inter', sans-serif; color: #333333; }
.user_name strong { font-weight: 600;}
.user_greet { font: 400 12px/16px 'Inter', sans-serif; display: block; text-align: end;}
.user_img { width: 40px; height: 40px; border-radius: 50%; overflow: hidden; cursor: pointer;}
.user_img img { width: 100%; height: 100%; object-fit: cover; vertical-align: middle;}