.button { font: 500 16px/24px 'Inter', sans-serif; padding: 5px 20px; border: none; border-radius: 10px; background-color: #696CFF; color: #ffffff; cursor: pointer;}

.sel_btn { box-sizing: border-box; font: 400 16px/24px 'Inter', sans-serif; background-color: transparent; color: #333333; padding: 4px 20px; cursor: pointer; border-radius: 8px; border: 1px solid #d9d9fd;}
.sel_btn:hover { color: #696CFF;}
.sel_btn.active { font-weight: 600; background-color: #e7e7ff; color: #696CFF; border-radius: 8px; }
.sel_btn.selected { font-weight: 600; background-color: #e7e7ff; color: #696CFF; border-radius: 8px; }

.compare_btn { font: 400 14px/14px 'Inter', sans-serif;  display: flex; justify-content: center; align-items: center; background-color: #ffffff; color: #333333; border: 1px solid #d9d9fd; padding: 5px 8px; border-radius: 8px; cursor: pointer; } 
.compare_btn.active { background-color: #e7e7ff; color: #696CFF; font-weight: 600;}