.textfield{
    width: 300px;
    height:40px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 3px;
    border: none;
}
.signinbtn{
    margin-top: 10px;
    width: 300px;
    height:40px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    font-weight:500;
    font-size: 15px;
}
.signinbox{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
   padding-left: 40px;
   padding-right: 50px;
   padding-top: 40px;
    width: 400px;
    height: 400px;
    background-color: #e2e8f0;
    border-radius: 10px;

}
.break{
    display: flex;
    flex-direction: row;
    margin-top: 20px ;
}
.singnup{
    marginTop:"10px"
}
.para{
width:100%;
margin-bottom: 5px;
text-align: center;
}
.signup{
    margin-top: 10px;
    text-align: center;
}
.signupbox{
    padding-left: 40px;
    padding-right: 50px;
    padding-top: 40px;
     width: 400px;
     height: 600px;
     background-color: #e2e8f0;
     border-radius: 10px;
}