/* :root {} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3f2f7; 
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

::-webkit-scrollbar{height:2px; width: 5px; border-radius:50px}
::-webkit-scrollbar-track{background:transparent}
::-webkit-scrollbar-thumb{background:#e7e7ff; border-radius: 100px; }
::-webkit-scrollbar-thumb:hover{background:#dbdbfb}

.menu_link.active  { background-color: #e7e7ff;}
.menu_link.active a { font-weight: 600; color: #696CFF;  }
.menu_link a:hover { background-color: #f5f5ff; color: #696CFF; border-radius: 12px; }

.main_content { padding-left: 210px; padding-top: 0!important; transition: .5s; position: relative; min-height: 100vh; overflow: hidden; }
.main_wrap { padding: 20px 20px; }

.loading_wrap { display: flex; justify-content: center; align-items: center; width: 100%; position: absolute; inset: 0; margin: auto;}
.loading_text { text-align: center; color: #666666;}

.Toastify__progress-bar--success { background: #696CFF !important;}
.Toastify__toast-icon svg { fill: #696CFF !important; }

.signinbtn{ display: flex; justify-content: center; align-items: center; gap: 10px; width:300px;height:40px;border-radius:5px;background-color:#fff;color:#222222; border:  1px solid #e5e5e5; font-weight:500;font-size:15px;cursor:pointer; border-radius: 10px;}
.signinbox{position:absolute;inset:0;margin:auto;border-radius:10px;display:flex;flex-direction:column;justify-content:center;align-items:center}
